doctype html
html
    head
        title Calculator
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js")
        script(src="/javascripts/index.js")
    body
        p Hello World!
        p(id="result")
        form
            label Number 1:
                input(type="number" name="num1" id="num1")
            label Number 2:
                input(type="number" name="num2" id="num2")
            hr
            label Operations:
            br
            label Add:
                input(type="radio" name="operation" value="add")
            br
            label Subtract:
                input(type="radio" name="operation" value="subtract")
            br
            label Divide:
                input(type="radio" name="operation" value="divide")
            br
            label Multiply:
                input(type="radio" name="operation" value="multiply")
            br
            hr
            button(id="submit") Calculate!
